<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}My Flower Shop{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
    <body>
    <!-- Хедер с меню -->
    <header>
    {% if is_granted('ROLE_MASTER') %}
        {% include 'headerAdmin.html.twig' %}
    {% else %}
        {% include 'headerUser.html.twig' %}
    {% endif %}
    </header>

    <!-- Основной контент -->
    <main>
        {% block body %}{% endblock %}
    </main>

    <!-- Футер -->
    <footer>
        <p>&copy; 2024 Турклиев Владимир</p>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/cart.js') }}"></script>
    {% endblock %}
</body>
</html>
